name: Titles expiring on Netflix

permissions:
  contents: write

on:
  schedule:
  - cron: '00 8 * * *'
  workflow_dispatch:

jobs:
  titles-expiring:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Python Environment
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.12"

      - name: Install Requirements
        run: |
          pip install -r requirements.txt
          pip install -e .

      - name: Get Leaving Titles JSON
        env:
          XRAPIDAPIHOST: ${{ secrets.XRAPIDAPIHOST }}
          XRAPIDAPIKEY: ${{ secrets.XRAPIDAPIKEY }}
          PYTHONPATH: src
        run: python -m netflix_leaving --output data

      - name: Get Daily Date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          commit_message: "chore: data refresh ${{ env.date }}"
          skip_dirty_check: false
          skip_fetch: true
          skip_checkout: true
          disable_globbing: true
